*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
table, th, td{
    border-collapse: collapse;
    border: 1px black solid;
    padding: 10px;

}
td{
    height: 40px;
}
table{
    margin: 0 auto;
    margin-top: 300px;
    width: 800px;
}
body{
    background-image: url(img1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}











.two{
    width: 200px;
    display: flex;
    justify-content: space-between;
}
#gog{
    font-size: 25px;
    font-weight: 650;
}
#g{
    color: blue;
}
#o{
    color: red;
}
#o2{
    color: gold;
}
#g{
    color: blue;
}
#l{
    color: green;
}
#e{
    color: red;
}
a{
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
    align-items: center;
}
p{
    font-size: 18px;
    font-weight: 550;
    color: gold;
}